.container {
    width: 100%;
    padding: 3px;
    background-color: #282c34;
    color: #fff;
}

@media (min-width: 768px) {
    .container {
        padding: 10px;
    }
}

.logo {
    height: 45px;
}

.name {
    font-size: 20px;
    color: #61dafb;
}

@media (min-width: 768px) {
    .name {
        font-size: 26px;
    }
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.nav li {
    margin: 0px 8px;
}

@media (min-width: 768px) {
    .nav li {
        font-size: 18px;
        margin: 0px 12px;
    }
}
